<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>920973819796-ns4iu2a1e4teuchlc60a8pf6q3g55rf6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.920973819796-ns4iu2a1e4teuchlc60a8pf6q3g55rf6</string>
	<key>API_KEY</key>
	<string>AIzaSyBd9mk61INwW__9BuQMZbUxrbIXOpjoXKs</string>
	<key>GCM_SENDER_ID</key>
	<string>920973819796</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.formValidation</string>
	<key>PROJECT_ID</key>
	<string>user-auth-abd75</string>
	<key>STORAGE_BUCKET</key>
	<string>user-auth-abd75.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:920973819796:ios:176f7d570726254ede9981</string>
</dict>
</plist>